/* Estilos Financiación */
.metodos-pago {
  list-style-type: disc;
  padding-left: 20px;
}
.metodos-pago li{
    margin-bottom: 10px;
}
.metodos-pago li ul {
  list-style-type: circle;
  padding-left: 20px;
}
/* Estilos Contacto */
.seccionContacto{
    margin-top: 20px;
}